# Virtual Environment
.venv

# .env
.env.local

# Python Cache & Artifacts
__pycache__/

# Type Checking & Linting
.mypy_cache/

# Testing
.pytest_cache/

# Output
data/output/

# Moulinette testing
moulinette/